body {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.5em;
    border-style: solid;
    padding: 5px;
    border-color: pink;
    background-color: black;
    color: white;
    height: 300px;
  }
  
  h1 {
    margin-top: 0%;
    margin-bottom: 10px;
    border-style: solid;
    border-color: lightblue;
  }
  
  button {
    background-color: white;
    border-style: solid;
    width: 45%;
    text-align: center;
    border-radius: 10px;
    border-color: lightblue;
    color: black;
    height: 35px;
    float: left;
    font-size: 1em;
  }
  
  #COUNT {
    padding-left: 1%;
    float: right;
    border-style: solid;
    width: 20%;
    border-color: lightblue;
  }
  
  #nug {
    border-style: solid;
    margin-bottom: 3px;
    border-color: lightblue;
    width: 12%;
    float: left;
    margin-left: 16%;
  }
  
  button:hover {
    background-color: #e7e7e7;
  }
  